.skeleton-wrapper {
    width: 100%;
}
.skeleton-wrapper .title-block {
  padding-bottom: 24px;
  padding-top: 8px;
}
.skeleton-wrapper .list-block {
  padding-top: 12px;
}
.skeleton { 
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  border-radius: 2px;
}
.skeleton.title {
  height: 12px;
  width: 25%;
  margin-bottom: 28px;
}
.skeleton.content {
  height: 12px;
  margin-bottom: 12px;
}
.skeleton.content.line-item {
  margin-bottom: 28px;
}
.skeleton.last-row {
  width: 90%;
  margin-bottom: 0px;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

